/* COLORI */

.bg-black {
    background-color: black;
}
.bg-gray {
    background-color: #282828;
}
.bg-blue {
    background-color: #141922;
}

.fg-white {
    color: white;
}

.fg-gray {
    color: #717171;
}

/* FONT */

.bold {
    font-weight: bold;
}

body { font-family: 'Open Sans', sans-serif; }


.ao {
    margin-bottom: 100px;
}



main {
    background-color: darkseagreen;
}

header {
    background-color: darkgreen;
    height: 90px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
}

/* SIDE MENU */

aside, #icon-side-menu {
    width: 50px;
    height: calc(100vh - 90px)
}

#logo {
    width: 80%;
}

.small-icon {
    width: 15%;
}

#text-side-menu {
    height: 100%;
    display: none;
}












/* FOOTER */

footer {
    background-color: darkolivegreen;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
}






/* MEDIA QUERY */

@media screen and (min-width: 480px) {
    
    header {
        width: calc(100% - 230px);
    }
    
    aside {
        width: 230px;
    }

    #icon-side-menu {
        display: none;
    }

    #text-side-menu {
        display: flex;
    }








}
