/* COLORI */

.bg-black {
    background-color: black;
}
.bg-gray {
    background-color: #282828;
}
.bg-blue {
    background-color: #141922;
}

.fg-white {
    color: white;
}




body {
    background-color: darkseagreen;
}

header {
    background-color: darkgreen;
    height: 90px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
}

/* SIDE MENU */

#side-menu {
    width: 50px;
    height: 100vh;
}

#icon-menu {
    padding: 0.5rem;
}

#icon-menu > * {
    margin-bottom: 1rem;
}




footer {
    background-color: darkolivegreen;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
}






/* MEDIA QUERY */

@media screen and (min-width: 480px) {
    
    header {
        width: calc(100% - 230px);
    }
    
    #side-menu {
        width: 230px;
    }


}
