/* COLORI */

.bg-black {
    background-color: black;
}
.bg-gray {
    background-color: #282828;
}
.bg-blue {
    background-color: #141922;
}

.bg-dark-blue {
    background-color: #080b12;
}

.fg-white {
    color: white;
}

.fg-gray {
    color: #717171;
}

/* FONT */


body { font-family: 'Open Sans', sans-serif; }

a {
    text-decoration: none;
}


/* HEADER */

header {
    height: 90px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
}

header > div {
    height: 100%;
}

header button {
    padding: 1rem 2.5rem;
    border-radius: 50px;
    border: 1px solid white;
}


/* SIDE MENU */

aside, #icon-side-menu {
    width: 50px;
    height: calc(100vh - 90px);
    overflow: hidden;
}

#logo {
    width: 80%;
}

.small-icon {
    width: 15%;
}

#text-side-menu {
    height: 100%;
    display: none;
}

.main-container {
    width: calc(100% - 50px);
}


/* MAIN CONTAINER */

.main-container {
    height: calc(100vh - 90px);
    padding: 90px 1rem 1rem;
    width: calc(100% - 50px);
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

nav > a {
    width: calc(100% / 3);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 12px;
}

 .card {
    width: 50%;
    padding: 0.5rem;
 }

 .card > img {
    width: 100%;
 }







/* FOOTER */

footer {
    background-color: darkolivegreen;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
}






/* MEDIA QUERY */

@media screen and (min-width: 480px) {
    
    header {
        width: calc(100% - 230px);
    }
    
    aside {
        width: 230px;
        height: calc(100vh - 90px);
    }

    #icon-side-menu {
        display: none;
    }

    #text-side-menu {
        display: flex;
    }

    .main-container {
        width: calc(100% - 230px);
    }

    nav > a {
        width: calc(100% / 2);
    }


}

@media screen and (min-width: 768px) {

    nav > a {
        width: calc(100% / 4);
    }
}


@media screen and (min-width: 1278px) {

    nav {
        width: 70%;
        margin: auto;
    }

    nav > a {
        width: calc(100% / 6);
    }
}

